a .nav_buttons {
    padding-top: 24px;
    color: white;
    height: 64px;
}

a:active paper-button {
    color: white;
    height: 64px;
    padding-top: 30px;
}

a:visited paper-button {
    color: white;
    height: 64px;
    padding-top: 30px;
}
