body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}
a {
  color: #00B7FF
}
.content{
  margin-bottom: 90px;
}
button.player {
  background: transparent;
  border: none;
}
.playerFooter {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #dfdfdf;
  text-align: left;
}
.siteFooter {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;
  background-color: #44c687;
  text-align: center;
}
.farbig {
  color: blue
}
#inputfield {
  width: 400px
}

.positiveSeed {
  background: #33b805;
}

.negativeSeed {
  background: #ff7117;
}
